<header class = "pb-3">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand h1 ps-3" href="/">
                Drums & Database 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ps-3" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item pe-3">
                        {{#stringsEqual activePage "index" }}
                            <a class="nav-link active" href="/">
                        {{else}}
                            <a class="nav-link" href="/">
                        {{/stringsEqual}}
                            Home
                        </a>
                    </li>
                    <li class="nav-item pe-3">
                        {{#stringsEqual activePage "advancedSearch" }}
                            <a class="nav-link active" href="/advancedSearch">
                        {{else}}
                            <a class="nav-link" href="/advancedSearch">
                        {{/stringsEqual}}
                            Advanced Search
                        </a>
                    </li>
                    {{#if isLoggedIn}}
                        <li class = "nav-item pe-3">
                            {{#stringsEqual activePage "playlist" }}
                                <a class="nav-link active" href="/playlist">
                            {{else}}
                                <a class="nav-link" href="/playlist">
                            {{/stringsEqual}}
                                Playlist
                            </a>
                        </li> 
                        <li class = "nav-item pe-5">
                            {{#stringsEqual activePage "friends" }}
                                <a class="nav-link active" href="/friends">
                            {{else}}
                                <a class="nav-link" href="/friends">
                            {{/stringsEqual}}
                                Friends
                            </a>
                        </li>
                        <li class = "nav-item pe-3">
                            <a class = "nav-link active"> Hello, {{username}}! </a>
                        </li>
                        <li class = "nav-item pe-3">
                            {{#stringsEqual activePage "logout" }}
                                <a class = "nav-link active" href="/logout">
                            {{else}}
                                <a class = "nav-link" href="/logout">
                            {{/stringsEqual}}
                                Logout
                            </a>
                        </li>
                    {{else}}
                        <li class = "nav-item pe-3">
                            {{#stringsEqual activePage "login" }}
                                <a class = "nav-link active" href="/login">
                            {{else}}
                                <a class = "nav-link" href="/login">
                            {{/stringsEqual}}
                                Login
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>