<div class="card w-75 mx-auto text-dark bg-light">
    <h5 class="card-header text-center">
        <div class="card-title">
            <b>Artist: </b>
            <!-- arist name here -->
            {{artist.artistName}}
        </div>
    </h5>
    <div class="card-body">
        <div>
            <b>Popularity: </b>
            <!-- popularity score goes here -->
            {{artist.popularity}}
        </div>
        <div>
            <b>Genres: </b>
            <!-- all genres related go here -->
            {{artist.mainGenreID}}; {{artist.otherGenreID}}
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">
                            Song amount:
                            <!-- song amount goes here -->
                            {{artist.songAmt}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class = "text-center">#</th>
                        <th>Songs</th>
                    </tr>
                    {{#each songs}}<tr>
                        <td scope="row" class = "text-center">
                            {{add @index 1}}
                        </td>
                        <td>
                            {{this.songName}}
                        </td>
                    </tr>{{/each}}
                </tbody>
            </table>
        </div>
        <div class = "">
            Need more information? <a href = "http://www.lyricsdepot.com{{artist.link}}"> Click here! </a>
        </div>
    </div>

    <div class="card-footer">
        <div class = "">
            <button type="button" class="btn btn-secondary" onclick = "window.location = '/advancedSearch'">
                <- Back to search
            </button>
        </div>
    </div>
</div>