<div class = "card w-75 mx-auto text-dark bg-light">
    <h5 class = "card-header text-center">
        <div class = "card-title">
            <b>Song:</b> 
            <!-- song name here -->
            {{song.songName}}
        </div>
    </h5>

    <div class = "card-body">
        <div>
            <b>Artist:</b> <!-- artist name goes here -->
            <a href = "http://www.lyricsdepot.com{{song.artistLink}}">{{artistName}}</a>
        </div>
        <br>
        <div>
            <b>Lyrics:</b> <!-- all genres related go here -->
            {{song.lyrics}}
        </div>
        <br>
        <div class = "">
            Need more information? <a href = "http://www.lyricsdepot.com{{song.link}}"> Click here! </a>
        </div>
    </div>

    <div class = "card-footer">
        <button type = "button" class = "btn btn-secondary" onclick = "window.location = '/advancedSearch'">
            <- Back to results 
        </button>
    </div>
</div>